html { 
	font-family: sans-serif; /* 1 */ 
	-ms-text-size-adjust: 100%; /* 2 */ 
	-webkit-text-size-adjust: 100%; /* 2 */ 
} 
body {
   height: 100%;
   background: #404040;
   background: -moz-linear-gradient(-45deg, #404040 0%, #000000 100%);
   background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #404040), color-stop(100%, #000000));
   background: -webkit-linear-gradient(-45deg, #404040 0%, #000000 100%);
   background: -o-linear-gradient(-45deg, #404040 0%, #000000 100%);
   background: -ms-linear-gradient(-45deg, #404040 0%, #000000 100%);
   background: linear-gradient(135deg, #404040 0%, #000000 100%);
   background-repeat: no-repeat;
   background-attachment: fixed;
   font-family: 'Source Sans Pro', sans-serif;
   padding: 100px;
   color: #64584c;
}

.box {
	background: #fff;
	box-shadow: 2px 4px 6px rgba(0,0,0,0.2);
}

#graph svg .axis { 
	shape-rendering: crispEdges; 
} 
#graph svg .axis line { 
	stroke: rgba(202,202,202,0.25); 
	shape-rendering: crispEdges; 
} 
#graph svg .axis text { 
	font-weight: bold; 
	fill: #cacaca; 
} 
#graph svg .axis path { 
	display: none; 
}
#graph svg path.line.actual {
  stroke: #64584c;
  stroke-width: 3px;
}
#graph svg path.line.ideal {
  stroke: #cacaca;
  stroke-width: 3px;
}
#graph svg path.line {
  fill: none;
  stroke-width: 1px;
}
#graph svg line.today {
  stroke: #cacaca;
  stroke-width: 1px;
  shape-rendering: crispEdges;
  stroke-dasharray: 5, 5;
}
#graph svg text {
	font-weight: bold;
	fill: #cacaca;
}

